<div class="container">
  <div class="row">
    <app-stock-add></app-stock-add>
    <div class="col-sm-4">
      <button
        (click)="onDeleteStock()"
        *ngIf="editMode"
        class="btn btn-danger"
        type="button"
        >
        Delete {{ editedStock }}
      </button>
    </div>
  </div>
  
<br>

<table class="table table-stripped table-bordered">
  <thead>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Price</th>
            <th class="th-toCalc">P/B</th>
            <th class="th-toCalc">EPS</th>
            <th class="th-toCalc">P/E</th>
            <th class="th-toCalc">ROE</th>
            <th class="th-toCalc">ROA</th>
            <th class="th-toCalc">DivY</th>
            <th class="th-toCalc">Perf</th>
        </tr>
    </thead>
    <tbody style="font-size: 14px;">
        <tr
          *ngFor="let stock of stocks; let i = index"
          class="stock-row"
          (click)="onEditStock(stock.ticker)"
          >
          <!-- [ngClass]="editMode ? 'active' : 'inactive'" -->
            <td>{{ stock.ticker }}</td>
            <td>{{ stock.name }}</td>
            <td>{{ stock.price }}</td>
            <td>{{ stock.priceToBook }}</td>
            <td>{{ stock.latestEPS }}</td>
            <td>{{ stock.peRatio }}</td>
            <td>{{ stock.returnOnEquity }}</td>
            <td>{{ stock.returnOnAssets }}</td>
            <td>{{ stock.dividendYield }}</td>
            <td>{{ stock.performanceTrend }}</td>
        </tr>
    </tbody>
</table>
</div>
