<div>
    <form class="form-inline" (ngSubmit)="onAddTicker(f)" #f="ngForm">
      <div class="col-sm-6" >
          <input
            style="width: 70px;"
            type="text"
            id="ticker"
            class="form-control"
            placeholder="Ticker"
            name="ticker"
            ngModel
            >
      </div>
      <div class="col-sm-6">
        <button
          class="btn btn-primary"
          type="submit"
          >
          Add
        </button>
      </div>
    </form>
</div>
